@using Pos.App.Service

@inject PosApiClient PosApi

<div class="modal fade @(_show ? "show d-block" : "")" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Crear producto</h5>
                <button type="button" class="btn-close" @onclick="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Código</label>
                            <input type="text" class="form-control" maxlength="20" @bind="_product.Code" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" maxlength="100" @bind="_product.Name" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label class="form-label">Unidad de medida</label>
                            <select class="form-select" @bind="_product.UnitOfMeasureId">
                                <option value="@Guid.Parse("F6C0BAF5-F900-41D9-A1DD-EDE1D927C2E2")">Seleccione...</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Afectación IGV</label>
                            <select class="form-select" @bind="_product.IgvTypeId">
                                <option value="@Guid.Parse("87F49009-4041-4A62-953A-27A303286E89")">Seleccione...</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Categoría</label>
                            <select class="form-select" @bind="_product.CategoryId">
                                <option value="@Guid.Parse("48B23412-025A-4895-BE10-10EE7ED076C7")">Seleccione...</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descripción</label>
                        <textarea class="form-control" rows="5" maxlength="200" @bind="_product.Description"></textarea>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Precio de Compra</label>
                            <input type="number" class="form-control" step="0.01" min="0" @bind="_product.PurchasePrice" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Precio de Venta</label>
                            <input type="number" class="form-control" step="0.01" min="0" @bind="_product.SalePrice" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="Close">Cancelar</button>
                <button type="button" class="btn btn-primary" @onclick="Submit">Crear producto</button>
            </div>
        </div>
    </div>
</div>

@code{
    private bool _show = false;
    private CreateProductRequest _product = new();

    public void Open()
    {
        _show = true;
        StateHasChanged();
    }

    public void Close()
    {
        _show = false;
        StateHasChanged();
    }

    public async Task Submit()
    {
        await PosApi.ProductPOSTAsync(_product);
    }
}